// Global styling

$primary:  #1C75BC;
$secondary: rgb(143, 145, 146);

@font-face {
    font-family: "Fivo Sans Medium";
    src: url("../font/FivoSans-Medium.otf");
}

@font-face {
    font-family: "Fivo Sans Regular";
    src: url("../font/FivoSans-Regular.otf");
}

html {
    font-family: "Fivo Sans Regular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


h1, h2, h3 {
    font-family: "Fivo Sans Medium", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

// Accessibility

*:focus {
    outline: dotted 2px $secondary;
    outline-offset: 2px;
}

.sr-only {
    position: absolute;
    left: -100vw;
    height: 1px;
    width: 1px;
    white-space: nowrap;
    overflow: hidden;
}

.sr-only-focusable:focus, .sr-only-focusable:active {
    position: relative;
    left: 0;
    z-index: 999;
    height: auto;
    width: auto;
    white-space: normal;
    overflow: visible;
}

// Body 


body {
    margin-top: 148px;
}
.vh-50 {
    height: calc(50vh - 74px);
}
.navbar {
    background-color: hsla(197, 5%, 95%, 1) !important;
}
.col {
    max-width: 1024px;
    margin: 0 auto;
}
.row-main{
    padding: 24px 0;
}
.row {
    padding: 20px 0;
}

.sections {
    padding: 0 28px;
    text-align: center;
    line-height: 2;

    h2 {
        font-size: 36px;
        margin-bottom: 0.5em;
    }

    h3 {
        font-size: 20px;
        margin: 16px;
    }
}

.prim-section {
    background-color: hsla(197, 5%, 95%, 1);
    color: hsla(197, 5%, 5%, 1);

    h2 {
        color: $primary;
    }
}

.alt-section {
    background-color: hsla(197, 15%, 15%, 1);
    color: hsla(197, 15%, 85%, 1);

    h2 {
        color: $secondary;
    }
}

.submit {
    background-color: $primary;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.AW-Form-256242814 {
    background-color:hsla(197, 5%, 95%, 1);
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.box {
    margin: -16px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    >* {
        padding: 16px;
    }
}

.br-mobile {
    display: none;
}

.br-tablet{
    display: none;
}

  #title{
      color: $primary;
      padding-top: 60px;
  }
  
  @media only screen and (max-width: 700px) {
            #navbarToggleExternalContent {
                a {
                    padding: 0 24px;
                    color: #000000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    }
            
                a:hover, a:active, a:focus {
                    border-bottom: $primary double;
                    }
            }
            }

@media only screen and (max-width: 1024px) {
 .br-tablet{
     display: unset;
 }
 .row-main{
     padding: 460px 0px 460px 0px;
 }
}

@media only screen and (max-width: 900px) {
    body {
        margin-top: 100px;
    }
    .row-main{
        padding: 310px 0px 310px 0px;
    }
    .vh-50 {
        height: calc(50vh - 50px);

    .sections {
        padding: 0 24px;
    }

    .br-mobile {
        display: unset;
    }
}
}

@media only screen and (max-width: 500px) {
    .row-main{
        padding: 150px 0px 150px 0px;
    }
    .sections {
        padding: 0 16px;
        line-height: 1.75;

        h2 {
            font-size: 28px;
        }
    }

    .box>* {
        padding: 12px;
    }
}

@media only screen and (max-width: 400px) {
    .sections {
        padding: 0 8px;
    }

    .box>* {
        padding: 8px;
    }
}

.header {
    color: $primary;
}
// HEADER & NAVIGATION

.fixed-top {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.logo {
    height: 100px;
    padding: 8px 0;

    img {
        height: 100%;
    }
}
.navbar-collapse {
    display: inline-block;
    text-align: center;
}
#navbarToggleExternalContent {

    a {
        padding: 0 24px;
        text-decoration: none;
        color: #000000;
        background-color: hsla(197, 5%, 95%, 1);

    }

    a:hover, a:active, a:focus {
        border-bottom: $primary dotted;
        }
        background-color: hsla(197, 5%, 95%, 1);
}


@media only screen and (max-width: 900px) {

    .actions {
        position: fixed;
        bottom: 16px;
        right: 8px;

        a {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        }
    }

    .menu-icon {
        display: block;
    }
}

@media only screen and (max-width: 900px) {
    #title {
        padding-top: 30px;
        font-size: 40px;
        margin-bottom: 20px;
    }

    .title-sub {
        font-size: 36px;
    }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    #title {
        padding-top: 30px;
        margin-bottom: .2em;
        line-height: 1.2;
    }

    .title-sub {
        line-height: 1.2;
    }
}

@media only screen and (max-width: 500px) {
    #title {
        font-size: 32px;
    }

    .title-sub {
        font-size: 30px;
    }

    .carousel-arrow>div {
        width: 24px;
    }
}

@media only screen and (max-width: 400px) {
    #title {
        font-size: 24px;
    }

    .title-sub {
        font-size: 22px;
    }
}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    // internet explorer fixes
    .carousel-slide {
        height: auto;
    }

    #nav-trigger {
        display: none;
    }

    #nav-collapse {
        position: static !important;
        height: auto;
        width: 100%;


    }

    .actions {
        position: static;
    }
}

// SECTIONS & MAIN CONTENT

.scroll-padding {
    padding-top: 100px;
    margin-top: -100px;
}

.services-list {

    li, h3 {
        text-align: left;
    }

    li {
        line-height: 1.5;
    }
}

.person {
    box-sizing: content-box;
    font-size: 16px;
    width: 155px;
    line-height: 1.25;

    img {
        display: block;
        width: 100%;
        border-radius: 50%;
    }

}

.staff-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staff {
    display: flex;
    flex-direction: column;
}

.profile {
    margin-bottom: 24px;
    display: flex;

    .bio {
        max-width: 1024px;
        margin-bottom: 24px;
        text-align: left;
        padding: 0 16px;
        font-size: 14px;
        line-height: 1.2;
        flex-grow: 1;
    }

    h3 {
        margin: 0 0 0.5em 0;
        font-size: 24px;
    }

    li, p {
        margin-bottom: .5em;
    }

    img {
        height: 300px;
        border-radius: 4px;
        margin-bottom: 24px;
    }

}


#bbblink {
    left: 50%;
    transform: translateX(-50%)
}

.new-patient{
    img{
        display: block;
        width: 48px;
        margin: auto;
    }
}

.contact {
    form {
        padding-top: 10px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button {
        margin-top: 10px;
        width: 96px;
        height: 35px;
        line-height: 35px;
        padding: 0 8px;
        background-color: $primary;
        border: 1px solid white;
        color: white;
        border-radius: 10px;
    }

    label {
        text-align: center;
        padding: 0 8px;
    }

    input, select, textarea {
        display: block;
        height: 24px;
        width: 300px;
        border: 1px solid hsla(197, 15%, 15%, 1);
        border-radius: 4px;
        padding: 2px;
        background-color: white;
    }
    textarea {
        height: unset;
        line-height: 1.25;
    }
}

.check-group {
    padding: 48px;
}

#contact-terms {
    display: inline-block;
    height: unset;
    width: unset;
}

@media only screen and (max-width: 900px) {
    .scroll-padding {
        padding-top: 100px;
        margin-top: -100px;
    }

    .profile {
        flex-direction: column;
        align-items: center;

        .bio {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 500px) {
    .scroll-padding {
        padding-top: 100px;
        margin-top: -100px;
    }

    .person {
        width: 140px;

        .check-group {
            padding: 24px;
        }
    }
}

// FOOTER

footer {
    display: inline-block;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: hsla(197, 10%, 55%, 1);

    iframe {
        width: 100%;
        height: 450px;
    }

    li {
        padding: 16px;
    }

    a {
        color: hsla(197, 20%, 55%, 1);
    }
}

// MODAL
.modal-content {
    color: #000000;
}